<h1 style="margin-left: 10px;">Categorías</h1>

<div class="category-grid">
  <!-- Categoría dinámica -->
  <div class="category-block" *ngFor="let category of categories$ | async; trackBy: trackById">
    <ion-card 
      class="category-card" 
      button
      [ngStyle]="{'background-color': toRGBA(category.color, 0.1)}">
      <img [src]="category.imgUrl" [alt]="category.name" />
    </ion-card>
    <div class="category-info">
      <div class="category-name">{{ category.name }}</div>
    </div>
  </div>
</div>
<div class="filters-separator"></div>
