<app-header [userPhotoUrl]="userPhotoUrl$ | async"></app-header>

<ion-content [fullscreen]="true">
  <div class="max-width-container">

    <!-- Filtros de categorías -->
    <app-category-filters (filterSelected)="onFilterSelected($event)"></app-category-filters>
    <div class="filters-separator"></div>
    <!-- Grid de productos -->
     <h1 style="margin-left: 20px;">Resultados</h1>
    <ion-grid>
      <ion-row>
        <ion-col 
          *ngFor="let product of filteredProducts$ | async" 
          size="6" size-md="4" size-lg="3"
        >
          <app-product-card [product]="product"></app-product-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
